
/* 
#profilebody {
    background-color: darkgray;
}
 */
body {
	font-size:12px;
    color:#ccc;
	/* line-height:1.3; */
	font-family: Georgia, Times, 'Times New Roman', serif;
	background:url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#heading3 {
    font-size: 18px;
}

#intro {
    font-size: 16px;
}

#title {
    font-family: Georgia, Times, 'Times New Roman', serif;
}
 #titlelink {
    color: #ccc;
    text-decoration: none;
    
 }

 #heading2 {
    padding-top: 5px;
 }

 #navigation {
	display:block;
	/* clear:right; */
	border-top:1px dashed #666;
	border-bottom:1px dashed #666;
	padding: 20pt;
    padding-top: 1pt;
}
/* #navigation ul {
	list-style:none;
} */
#navigation ul li {
	float:left;
	display:inline;
	padding-right:100px;
}
#navigation ul li a {
	font-size:16px;
	font-weight:bold;
	color:#fff;
	line-height:20px;
	text-decoration:none;
}
#navigation ul li a:hover {
	text-decoration:none;
    color: rgb(236, 216, 30)
}
.box .movie {
	width:170px;
	float:left;
	padding-right:15px;
}
/* .movie-image {
	float:left;
	width:152px;
	height:214px;
	position:relative;
} */
.movie-image img {
	width:152px;
	height:214px;
}
.movie-image a {
	float:left;
	display:inline;
	width:152px;
	height:214px;
	position:relative;
	z-index:2;
}
.aboutsection {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#footer{
    /* width:100%;
    bottom: 0;
    position: absolute; */
    float: right;
}

div.formcontainer {
    display: block;
    text-align: center;
}
#form, #loginform {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
}

#loginheader {
    color: #ccc;
}

#email, #login, #pass, #pass2, #username, #password2 {
    width: 500pt;
    height: 20pt;
}

#submit{
    background-color: #008cba;
}

#reset {
    background-color: rgb(232, 64, 64);
}

#loginbutton {
    background-color: #008cba;;
}

#loginreset {
    background-color: rgb(232, 64, 64);
}

#searchbutton {
    background-color: #008cba;
}

button {
    padding: 8pt;
    color: aliceblue;
    border-radius: 5pt;
    border: none;
    margin: 5pt;
}

form.mysearch input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  form.mysearch button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  form.mysearch button:hover {
    background: #0b7dda;
  }

  form.mysearch::after {
    content: "";
    clear: both;
    display: table;
  }

  #movieheadert {
    text-align: left;
  }