
#mainbody {
    background-color: darkgray;
}

#profilebody {
    background-color: darkgray;
}

#title {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

#titlelink {
    color:black;
    text-decoration: none;
}
.navbar a {
    align-items: center;
    
    padding: 14pt;
    color: skyblue;
    font-size: larger;
    text-decoration: none;
}

.box {
    flex: 1;
    
}

#loginbody {
    background-image: url('login.jpg');
}

#loginheader {
    color: black;
}

#email, #login, #pass, #pass2, #username, #password2 {
    width: 500pt;
    height: 20pt;
}

#submit{
    background-color: #008cba;
}

#reset {
    background-color: rgb(232, 64, 64);
}

#loginbutton {
    background-color: #008cba;;
}

#loginreset {
    background-color: rgb(232, 64, 64);
}

#searchbutton {
    background-color: #008cba;
}

button {
    padding: 8pt;
    color: aliceblue;
    border-radius: 5pt;
    border: none;
    margin: 5pt;
}